<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:insert="links.html"></div>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-6">

                <div class="row">
                    <div class="col-12">
                        <h1 class="text-danger">ACCESS DENIED!</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>