<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:insert="links.html"></div>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-6">

                <div class="row">
                    <div class="col-12">
                        <h1 class="text-danger">It's admin page!</h1>
                    </div>
                </div>
                <div>
                    <a href="/log-out" class="btn btn-danger btn-sm"> LOG OUT </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>