<html lang="en">
<head xmlns:th="http://www.thymeleaf.org">
    <meta charset="utf-8">
    <title>Please sign in</title>
    <div th:insert="links.html"></div>
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-6 ">
            <div>
                <form method="post" action="/registration">
                    <h2>Please sign up</h2>
                    <p>
                        <label for="email" class="screenreader">Email</label>
                        <input class="form-control" type="text" id="email" name="email" placeholder="Email" required autofocus>
                    </p>
                    <p>
                        <label for="password" class="screenreader">Password</label>
                        <input class="form-control" type="password" id="password" name="password" placeholder="Password" required>
                    </p>
                    <p>
                        <label for="repassword" class="screenreader">RePassword</label>
                        <input class="form-control" type="password" id="repassword" name="rePassword" placeholder="Password" required>
                    </p>

                    <input class="form-control" name="_csrf" type="hidden">
                    <button type="submit" class="btn btn-success btn-sm">Sign up</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>